/* -----------------------------------------------------------------Single page--------------------------------------------------------------------------- */
/* Css for content row 1 */
/* Css for single-grid1 */
ul{
    padding:0px;
    margin:0px;
}
ul li{
    list-style-type: none;
}
.single-grids{
    padding:4em 0;
}
.single-grid1 h2 {
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.3em;
}
.single-grid1 ul li{
    border-bottom: 1px solid #E8E5E5;
}
.single-grid1 ul li a {
    color: #999;
    font-size: 0.95em;
    line-height: 3em;
    text-transform: capitalize;
}
.single-grid1 ul li a:hover{
    text-decoration: none;
    color:black;
}
/* End Css for single-grid1 */

/* Css for single-grid2 */
/* End Css for single-grid2 */

/* Css for single-grid 3 */
.single-grid3 ul li {
    list-style-type: none;
    float: left;
    padding-right: 1em;
    color: grey! important;
}
.single-grid3 ul li a{
    color: grey;
    transition: 0.4s;
}
.single-grid3 ul li a:hover{
    color:red;
    cursor: pointer;
    text-decoration: none;
}
ul.size {
    clear: both;
    margin-bottom: 3em;
}
ul.size h3 {
    color: #555;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 0.5em;
    font-weight: 600;
}
h5.item_price {
    font-size: 20px;
    font-weight: 600;
}
.single-grid3 p {
    font-size: 0.95em;
    line-height: 1.8em;
    color: #777;
    display: inline;
}
.single-grid3 #quantity {
    width: 50px;
    height: 37px;
    display: inline-block;
    margin: 15px 10px 0 10px;
    padding: 9px 0px 8px;
    outline: none;
    text-align:center;
}
.btn_form {
    padding: 9px 14px;
    background: black;
    color: white!important;
    text-align: center;
    margin: 2em 0em;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    transition:0.4s;
}
.item_add {
    color: white;
    text-decoration: none;
}
.btn_form:hover .item_add{
    color:black;
    text-decoration: none;
}
.btn_form:hover{
    text-decoration: none;
    background-color: white;
    color:black;
    cursor: pointer;
}
/* End Css for single-grid 3 */
/* End css for content row 1 */
