	<!-- Start subcribe -->
	<div class="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="subscribe1">
			 			<h4>the latest from swim wear</h4>
					</div>
				</div><!-- End col-md-6 -->
				<div class="col-md-6">
					<div class="subscribe2">
						<form>
							<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
							<input type="submit" value="JOIN">
						</form>
					</div>
				</div><!-- End col-md-6 -->
			</div>
		 </div>
	</div>
	<!-- End Start subcribe -->
	
{% schema %}
	{
		"name": "subscribe",

		"presets": [
			{
				"name": "subscribe",
				"category": "Homepage"
			}
		]
	}
{% endschema %}